@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(..vendor/fontawesome/css/solid.css);
@import url(..vendor/fontawesome/css/fontawesome.css);
@import url(../fonts/roboto/all.css);
@import url(../fonts/Audiowide/Audiowide-Regular.css);
@import url(../fonts/Faster\ One/#FasterOne-Regular.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif
}

:is(h1, h2) {
  font-family: 'Audiowide',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif
}

h2 {
  font-size: x-large
}

#logo {
  @apply w-[42px];
  width: 42px;

}

/* hamburger menu  */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  position: absolute;
  top: 3.5rem;
  right: 2.5rem;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #e4dbdb;
  transform: rotate(0);
  transition: all 0.6s;
}


.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}


section {
  font-family: 'Roboto', sans-serif;
  /* background: #333; */
  color: #fff;
  line-height: 1;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 0px;

  /* left: -575px; */
  /* opacity: 0; */
  height: 80px;
  width: 375px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 15px;
}

.slide .content h1 {
  margin-bottom: 5px;
}

/* .slide.current .content {
  opacity: 1;
  transform: translateX(575px);
  transition: all 0.7s ease-in-out 0.3s;
} */

button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

:is(button#next,
  button#prev) svg {
  width: 30px;
  height: 30px
}

button#prev {
  left: 15px
}

.buttons button {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 50%;
  color: #f1ca2e;
  cursor: pointer;
  outline: none;
  padding: 4px
}

.buttons button:hover {
  background-color: #baafaf;
  color: #f1ca2e;
}

@media (max-width: 550px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Background images */
.slide:first-child {
  background: url('../img/Combination-Radiant-In-Floor-Heating-System.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url('../img/AO-Smith-Tankless-Water-Heater-Troubleshooting.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
  background: url('../img/Job_1.jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
  background: url('../img/671657083373.webp') no-repeat center top/cover;
}

.slide:nth-child(5) {
  background: url('../img/drainage-IMG_5285.jpg') no-repeat center top/cover;
}

.slide:nth-child(6) {
  background: url('../img/Plumber-guy-2.png') no-repeat center top/cover;
}

.grid-row-card {
  grid-template-rows: auto auto 1fr 30px
}

/*  Call to Actions */
.cta {
  background: #000;
  color: #fff;
  padding: 2rem;
}

.cta>div {
  /* gap: 1rem; */
}

.cta img {
  height: 60px;
  width: auto;
}

.cta span {
  display: grid;
  grid-template-columns: 4.5rem 10rem;
  margin: auto;
  width: 100%;
  gap: 1rem;
  place-content: center;
}

.cta span h3 {
  align-self: center;
}

.cta h4 {
  display: grid;
  place-content: center flex-start;
}

.cta span img {
  place-self: end;
}

.container {
  gap: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.furnace img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 6/3;
}

/* ====== */
main {
  overflow: hidden;
}

/* form */

.form_layout {
  display: grid;
  grid-template-columns: auto;
  width: auto;
  max-width: 600px;
  border: 1px solid #000;

}

.form input:not([type="checkbox"]) {
  border-radius: .25rem;
  padding: .25rem;
  width: 100%;
  border: 2px inset #eee;
}

.form_layout fieldset {
  margin: 1em;
}

.form_layout form p {
  line-height: 1em;
}

.form_layout .gap {
  display: grid;
  grid-gap: 2em;
}

.form_layout .border {
  border-top: 1px solid #000;
  padding: 1em;
}

.form_layout .border span {
  text-decoration: underline;
}

.form {
  padding: 3em;
}

.form_layout .pad {
  padding-bottom: 1rem;
  padding-bottom: 1rem;
  display: grid;
}

/* .form_layout .car-layout>* {
  margin: auto;
}

.form_layout .car-layout img {
  width: 70vw;
  aspect-ratio: 5/4;
} */

.form_layout .car-toggle {
  margin: auto;
  color: gray;
  font-size: 30px;
  cursor: pointer;
}