/* Webfont: Audiowide-Regular */@font-face {
    font-family: 'Audiowide';
    src: url('Audiowide-Regular.eot'); /* IE9 Compat Modes */
    src: url('Audiowide-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Audiowide-Regular.woff') format('woff'), /* Modern Browsers */
         url('Audiowide-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Audiowide-Regular.svg#Audiowide-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

