/* Webfont: Roboto-Medium */@font-face {
    font-family: 'RobotoMedium';
    src: url('Roboto-Medium.eot'); /* IE9 Compat Modes */
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Roboto-Medium.woff') format('woff'), /* Modern Browsers */
         url('Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Roboto-Medium.svg#Roboto-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

